---
import { request } from '@octokit/request'

import CdkRelease from '../components/CdkRelease.astro'
import type { Release } from '../types'

type Props = { [name: string]: Release }

const title = 'What CDK is it?'

const requestWithAuth = request.defaults({
  headers: {
    authorization: import.meta.env.GITHUB_TOKEN && `token ${import.meta.env.GITHUB_TOKEN}`,
  },
})

const { data: cdkReleases } = await requestWithAuth('GET /repos/{owner}/{repo}/releases', {
  owner: 'aws',
  repo: 'aws-cdk',
})

const getCdkRelease = (prefix: string): Release => {
  return cdkReleases.find((r) => r.tag_name.startsWith(prefix))!
}

const getLatestRelease = async (owner: string, repo: string) => {
  const { data } = await requestWithAuth('GET /repos/{owner}/{repo}/releases/latest', { owner, repo })
  return data
}

const props: Props = {
  CDK: getCdkRelease('v2'),
  'CDK v1': getCdkRelease('v1'),
  cdktf: await getLatestRelease('hashicorp', 'terraform-cdk'),
  cdk8s: await getLatestRelease('cdk8s-team', 'cdk8s-core'),
}
---

<div class="flex min-h-screen flex-col antialiased">
  <main class="flex-1">
    <div class="bg-gray-50 pt-12 sm:pt-24 md:pt-32">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-4xl text-center">
          <h2 class="text-4xl font-extrabold text-gray-900 sm:text-5xl md:text-6xl lg:text-7xl">
            <!-- <RoughNotation type="highlight" color="rgb(253 224 71)" animationDuration={2000} show={true}> -->
            {title}
            <!-- </RoughNotation> -->
          </h2>
          <p class="mt-2 text-lg leading-normal text-gray-500 sm:mt-4 md:text-2xl md:leading-9">
            A quick overview of{' '}
            <a
              class="underline hover:text-gray-600"
              href="https://aws.amazon.com/cdk/"
              target="_blank"
              rel="noopener noreferrer">AWS CDK</a
            >{' '}
            projects
            <br class="hidden sm:block" />
            and their latest releases - updated hourly
          </p>
        </div>
      </div>
      <div class="mt-6 bg-white pb-12 sm:pb-16 md:mt-16">
        <div class="relative">
          <div class="absolute inset-0 h-1/2 bg-gray-50"></div>
          <div class="relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <dl class="rounded-lg bg-white shadow-lg md:grid md:grid-cols-4">
              {Object.entries(props).map(([name, release]) => <CdkRelease name={name} release={release} />)}
            </dl>
          </div>
        </div>
        <div class="mx-auto mt-6 max-w-prose rounded-md bg-blue-50 p-4 md:mt-16">
          <div class="flex">
            <div class="flex-shrink-0">
              <!-- <HiInformationCircle className="h-5 w-5 text-blue-400" aria-hidden="true" /> -->
            </div>
            <div class="ml-3 flex-1 md:flex md:justify-between">
              <p class="text-sm text-blue-700">
                The older CDK v1 is now in maintenance mode.{' '}
                <a
                  class="underline hover:text-blue-800"
                  href="https://docs.aws.amazon.com/cdk/v2/guide/migrating-v2.html"
                  target="_blank"
                  rel="noopener noreferrer">Consider upgrading to v2.</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="bg-gray-50">
    <div class="mx-auto max-w-7xl overflow-hidden px-4 py-12 sm:px-6 lg:px-8">
      <p class="-mx-5 -my-2 text-center text-base text-gray-400">Made by Mathias Lafeldt</p>
      <div class="mt-8 flex justify-center space-x-6">
        <a
          href="https://github.com/mlafeldt/whatcdkisit"
          target="_blank"
          rel="noreferrer"
          class="text-gray-400 hover:text-gray-500"
        >
          <span class="sr-only">GitHub</span>
          <!-- <FaGithub /> -->
        </a>
        <a
          href="https://twitter.com/mlafeldt"
          target="_blank"
          rel="noreferrer"
          class="text-gray-400 hover:text-gray-500"
        >
          <span class="sr-only">Twitter</span>
          <!-- <FaTwitter /> -->
        </a>
      </div>
    </div>
  </footer>
</div>
